<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
		<h1>Nuevo producto</h1>

		<%= render 'form', product: @product %>

		<%= link_to 'Volver', products_path, class: "btn btn-primary btn-lg btn-block mt-3" %>
    </div>
  </div>
</div>