

<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
    	<h1>Editar Venta: Cambio de cliente</h1>

    	<%= render 'form', sale: @sale %>

    	<%= link_to 'Detalles', @sale, class: "btn btn-primary btn-lg btn-block mt-3" %>
    	<%= link_to 'Volver a listado de ventas', sales_path, class: "btn btn-primary btn-lg btn-block mt-3" %>

    </div>
  </div>
</div>
